---
---

@import "jekyll-theme-minimal";

#backtop a { /* back to top button */
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    width:50px;
    height: 50px;
    position: fixed;
    bottom: 10px; /* 小按钮到浏览器底边的距离 */
    right: 60px; /* 小按钮到浏览器右边框的距离 */
    color: rgb(64,120,192); /* 小按钮中文字的颜色 */
    z-index: 1000;
    background: #fff; /* 小按钮底色 */
    padding: auto; /* 小按钮中文字到按钮边缘的距离 */
    border-radius: 50px; /* 小按钮圆角的弯曲程度（半径）*/
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    font-weight: bold; /* 小按钮中文字的粗细 */
    text-decoration: none !important;
    box-shadow:0 1px 2px rgba(0,0,0,.15), 0 1px 0 #ffffff inset;
}

#backtop a:hover { /* 小按钮上有鼠标悬停时 */
    background: rgba(64,120,192,0.8); /* 小按钮的底色 */
    color: #fff; /* 文字颜色 */
}

@media (prefers-color-scheme: dark){
  #backtop a {
    color: rgb(121, 168, 211);
    background-image: initial;
    background-color: rgb(24, 26, 27);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px, rgb(24, 26, 27) 0px 1px 0px inset;
    text-decoration-color: initial !important;
  }
}
